<?xml version="1.0"?>
<!--
/**
 * Copyright © Falcon Media. All rights reserved.
 * https://www.falconmedia.nl
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageMate\AdminPasskey\Model\Webauthn\RelyingPartyInterface"
                type="MageMate\AdminPasskey\Model\Webauthn\RelyingParty"/>
    <preference for="MageMate\AdminPasskey\Model\Webauthn\RegistrationOptionsFactoryInterface"
                type="MageMate\AdminPasskey\Model\Webauthn\RegistrationOptionsFactory"/>
    <preference for="MageMate\AdminPasskey\Model\Webauthn\AssertionOptionsFactoryInterface"
                type="MageMate\AdminPasskey\Model\Webauthn\AssertionOptionsFactory"/>
    <preference for="MageMate\AdminPasskey\Model\Webauthn\RegistrationVerifierInterface"
                type="MageMate\AdminPasskey\Model\Webauthn\RegistrationVerifier"/>
    <preference for="MageMate\AdminPasskey\Model\Webauthn\AssertionVerifierInterface"
                type="MageMate\AdminPasskey\Model\Webauthn\AssertionVerifier"/>
    <preference for="MageMate\AdminPasskey\Api\Data\PasskeyInterface"
                type="MageMate\AdminPasskey\Model\Passkey"/>
    <preference for="MageMate\AdminPasskey\Api\Data\PasskeySearchResultsInterface"
                type="MageMate\AdminPasskey\Model\PasskeySearchResults"/>
    <preference for="MageMate\AdminPasskey\Api\PasskeyRepositoryInterface"
                type="MageMate\AdminPasskey\Model\PasskeyRepository"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magemate_admin_passkey_listing_data_source" xsi:type="string">MageMate\AdminPasskey\Model\ResourceModel\Passkey\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Model\Auth">
        <plugin name="magemate_admin_passkey_disallow_password_login"
                type="MageMate\AdminPasskey\Plugin\Backend\DisallowPasswordLogin"/>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="magemate_admin_passkey_recover" xsi:type="object">MageMate\AdminPasskey\Console\Command\RecoverPasswordLogin</item>
            </argument>
        </arguments>
    </type>
</config>
