<?xml version="1.0"?>
<!--
/**
 * Copyright © Falcon Media. All rights reserved.
 * https://www.falconmedia.nl
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="magemate_admin_passkey_force_setup"
                  instance="MageMate\AdminPasskey\Observer\ForcePasskeySetup"/>
    </event>
</config>
